.header {
    background-color: rgb(199, 232, 107) ;

    .header_conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

            .header_titulo{
                color:green;
                text-transform: uppercase;
            }

            .header_navbar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                .header_navlink{
                    color:green;
                    text-transform: uppercase;
                }
            }
        }
    }